{% extends 'base.html' %}

{% block title %}Login form{% end %}

{% block content%}I am login <br/>
<div class="row justify-content-center">
    <div class="col-sm-6">
<form action="/login?next={{ next }}" enctype="multipart/form-data" method="post">
    <div class="input-group mb-3">
        <div class="input-group-prepend">
            <span class="input-group-text" id="basic-addon1"><i class="fa fa-user fa-fw"></i></span>
        </div>
        <input name="username" required="" type="text" class="form-control" placeholder="用户名" aria-label="用户名" aria-describedby="basic-addon1">
    </div>
    <div class="input-group mb-3">
        <div class="input-group-prepend">
            <span class="input-group-text" id="basic-addon1"><i class="fa fa-key fa-fw"></i></span>
        </div>
        <input name="password" required="" type="password" class="form-control" placeholder="密码" aria-label="密码" aria-describedby="basic-addon1">
    </div>
    <button class="btn btn-primary">登陆</button>
    <div>
        还没有账号，需要<a href="/signup">注册</a>一个
    </div>
</form>
    </div>
</div>

{% end %}